/build/
/client/build/
/server/build/
/sdk/build/
/dashboard/build/
/common-backend/build/
/common-client/build/
/sample/build/
/dashboard/dist/
/.idea
*.swp*
/.gradle
/out
node_modules/
/local.properties

/client/out
/dashboard/out
/server/out
/sdk/out
/sample/out
