{% macro input(field) -%}
<div class="field" xmlns="http://www.w3.org/1999/html">
  <label class="label">{{field.label}}</label>
  <div class="control">
    <input class="input {% if field.error %}is-danger{% endif %} {% if field.readonly %}is-static{% endif %}"
           name="{{ field.name }}"
           value="{{ field.value }}"
           {% if field.readonly %} readonly {% endif %}
    />
  </div>
  {% if field.error %}
  <p class="help is-danger">{{ field.error }}</p>
  {% endif %}
</div>
{%- endmacro %}

{% macro hiddenInput(field) -%}
<input type="hidden" name="{{ field.name }}" value="{{ field.value }}"/>
{%- endmacro %}

{% macro textarea(field) -%}
<div class="field">
  <label class="label">{{field.label}}</label>
  <div class="control">
    <textarea class="textarea {% if field.error %}is-danger{% endif %}" name="{{field.name}}"
              {% if field.readonly %} readonly {% endif %}>{{field.value}}</textarea>
  </div>
  {% if field.error %}
  <p class="help is-danger">{{ field.error }}</p>
  {% endif %}
</div>
{%- endmacro %}
