{% extends "base.html" %}

{% block main %}
<table class="applications-table">
    <thead>
    <tr>
        <td>ApplicationName</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    {% for app in applications %}
    <tr>
        <td>{{app.name}}</td>
        <td>
            <a class="application-update-button-{{app.id.id}}"
               href="/applications/update?applicationName={{app.name|e}}">Update</a>
            <button
                    class="application-delete-button-{{app.id.id}}"
                    hx-delete="applications/delete"
                    hx-confirm="Are you sure you want to delete this app?"
                    hx-vals='{"applicationName": "{{app.name}}"}'
                    hx-swap="none">delete
            </button>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% if user.hasRole('admin') %}
<a href="/applications/create" class="applications-create-button">Create application</a>
{% endif %}
{% endblock %}
