{% extends "base.html" %}

{% block main %}
<div class="applications-table">
    <div class="columns">
        <div class="column is-2"><h4>Application name</h4></div>
        <div class="column is-2"><h4 class="content">Actions</h4></div>
    </div>
    {% for app in applications %}
    <div class="columns">
        <div class="column is-2">{{ app.name }}</div>
        <div class="column is-2">
            <a class="button is-primary application-update-button-{{app.id.id}}"
               href="/applications/update?applicationName={{app.name|e}}">Update</a>
            <button
                    class="button is-secondary application-delete-button-{{app.id.id}}"
                    hx-delete="applications/delete"
                    hx-confirm="Are you sure you want to delete this app?"
                    hx-vals='{"applicationName": "{{app.name}}"}'
                    hx-swap="none">delete
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% if user.hasRole('admin') %}
<a href="/applications/create" class="button is-link applications-create-button">Create application</a>
{% endif %}
{% endblock %}
