{% if properties|length %}
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Application</th>
        <th>Name</th>
        <th>Host</th>
        <th>Value</th>
        <th></th>
    </tr>
    </thead>
    {% for property in properties %}
    <tbody x-data="{ open{{ property.id }}: false }" class="property-item-row">
    <tr>
        <td>
            <button class="expand" @click="open{{ property.id }} = true">Expand</button>
        </td>
        <td>{{ property.applicationName }}</td>
        <td>{{ property.propertyName }}</td>
        <td>--</td>
        <td>--</td>
        <td></td>
    </tr>
    {% for hostProperty in property.hostProperties %}
    <tr x-show="open{{ property.id }}">
        <td></td>
        <td></td>
        <td></td>
        <td>{{ hostProperty.hostName }}</td>
        <td>{{ hostProperty.propertyValue }}</td>
        <td>
            <a class="update-property"
               href="/update?applicationName={{property.applicationName|e}}&propertyName={{property.propertyName|e}}&hostName={{hostProperty.hostName|e}}">Update</a>
            <div style="display: inline-block">
                <button class="delete-property"
                        hx-confirm="Are you sure you want to delete this property?"
                        hx-vals='{"applicationName": "{{property.applicationName}}", "propertyName": "{{property.propertyName}}", "hostName": "{{hostProperty.hostName}}", "version": "{{hostProperty.version}}"}'
                        hx-target="#delete-error-{{ hostProperty.id }}"
                        hx-delete="/delete">Delete
                </button>
                <div id="delete-error-{{ hostProperty.id }}"></div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% else %}
<p id="properties-search-result-empty">No results found</p>
{% endif %}
