{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block main %}
<form class="block"
      hx-get="/properties"
      hx-target="#properties-search-result"
      hx-push-url="true"
>
    <div class="columns is-vcentered">
        <div class="column is-2">
            {{ forms.autocomplete_input(form.getField('applicationName'), '/applications/suggest') }}
        </div>
        <div class="column is-2">
            {{ forms.autocomplete_input(form.getField('hostName'), '/hosts/suggest') }}
        </div>
        <div class="column is-2">
            {{ forms.input(form.getField('propertyName'), '/applications/suggest') }}
        </div>
        <div class="column is-2">
            {{ forms.input(form.getField('propertyValue'), '/applications/suggest') }}
        </div>
        <div class="column is-narrow">
            <button type="submit" class="button is-primary search-properties-button">Search</button>
        </div>
        <div class="column is-narrow">
            <a class="button is-primary create-property" href="/properties/create">Add property</a>
        </div>
    </div>
</form>

<div id="properties-search-result" class="block">
    {% if showProperties %}
    {% include "properties_search_result_block.html" %}
    {% endif %}
</div>
{% endblock %}
