{% extends "base.html" %}

{% block main %}
<form>
    <label>
        <span>Application name</span>
        <input name="application-name"/>
    </label>
    <label>
        <span>Host value</span>
        <input name="hostname"/>
    </label>
    <label>
        <span>Property name</span>
        <input name="property-name"/>
    </label>
    <label>
        <span>Property value</span>
        <input name="property-value"/>
    </label>
    <button type="submit"
            name="search"
            hx-post="/api/property/search"
            hx-trigger="click"
            hx-target="#properties-search-result">Search
    </button>
    <a class="add-property" href="/create">Add property</a>
</form>

<div id="properties-search-result"></div>
{% endblock %}
