{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block main %}
<div class="column is-4 pt-0">
    <h3>Create/Update property</h3>
    <div>
        <form method="post">
            {{ forms.autocomplete_input(form.getField('applicationName'), '/applications/suggest') }}
            {{ forms.autocomplete_input(form.getField('hostName'), '/hosts/suggest') }}
            {{ forms.input(form.getField('propertyName')) }}
            {{ forms.textarea(form.getField('propertyValue')) }}
            {% if form.commonError %}
            <div class="property-update-error content">
                <p class="has-text-danger">{{ form.commonError }}</p>
            </div>
            {% endif %}
            {{ forms.hiddenInput(form.getField('requestId')) }}
            {{ forms.hiddenInput(form.getField('propertyVersion')) }}
            <button class="button is-link property-update-button" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}